.header{
    height:100%
    background-color:rgb(140, 166, 217);
}

.header h1{
    color:White;
    font-family:Courier New; 
    text-align:center;
    position:relative;
    padding-top:5px;
    z-index:1;
}

.header h4{
    color:White;
    font-family:Courier New; 
    text-align:center;
    position:relative;
    z-index:1;
}

.links {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    style = "color: White"
    z-index:1;
    font-size:20px
}

.links li {
    display: inline-block;
    font-size: 30px;
    padding: 10px 20px;
    style = "color: White"
}

.rounded {
    position: absolute;
    top: 30%;
    left: 50%;
    background-image: url(/images/jm.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    border-radius: 15%;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20%;
}


.grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.1s;
    transition-property: transform;
}

.grow:hover,
.grow:focus,
.grow:active {
    transform: scale(1.5);
}
