/* header */ 
.header{
	height:100%
	background-color:rgb(140, 166, 217);
}

.header h1{
	color:White;
	font-family:Courier New; 
	text-align:center;
	position:relative;
	padding-top:15px;
	z-index:1;
}

.header h4{
	color:White;
	font-family:Courier New; 
	text-align:center;
	position:relative;
	z-index:1;
}

/* nav bar*/
nav {
	position: relative;
	width:100%;
}

nav ul {
	height: 3rem;
	margin: 0;
	padding: 0;
	display: inline-block;
	font-size: 0;
	list-style: none; 
}

nav ul li {
	font-size: 15px;
	padding: 0;
	display: inline-block;
}
.navbar ul {
	list-style-type: none;
	font-family:Courier New; 
	font-size: 1em;
	margin: 0;
	padding:0;
	display-inline:block;
	overflow: hidden;
	background-color: rgb(140, 166, 217);
	color: rgb(249,249,249);
	text-align: center;
	position: fixed;
	top: 0;
}

.navbar li {
	float:left;
}

.navbar li a {
	display: inline-block;
	float: center;
 	color: white;
	text-align: center;
	padding: 3px 7px;
	text-decoration: none;
}

.navbar li a:hover {
	background-color: rgb(249,249,249);
	color: rgb(140, 166, 217);
}

nav ul li p {
	height: 1rem;
	line-height: 1rem;
	margin: 0;
	padding: 1rem 1rem; 
}
 
/* icons */
.links {
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
	style = "color: White"
	z-index:1;
	font-size:20px
}

.links li {
	display: inline-block;
	font-size: 30px;
	padding: 10px 20px;
	style = "color: White"
}

.grow {
	display: inline-block;
	vertical-align: middle;
	transform: translateZ(0);
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	transition-duration: 0.1s;
	transition-property: transform;
}

.grow:hover,
.grow:focus,
.grow:active {
	transform: scale(1.5);
}

/*rounded intro picture*/
.rounded {
	position: absolute;
	top: 30%;
	left: 50%;
	background-image: url(/images/jm.jpg);
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: contain;
	border-radius: 15%;
	width: 200px;
	height: 200px;
	transform: translate(-50%, -50%);
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20%;
}

/* about */
#about {
	text-align: center;
	color:black;
	font-family:Courier New; 
	background:rgb(249,249,249);
   	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

#about a {
	background:rgb(249,249,249);
}

/* projects */
#projects {
	text-align: center;
	color:white;
	font-family:Courier New; 
	background:rgb(140, 166, 217);
   	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

#projects a {
	background:rgb(140, 166, 217);
}

/* classes */
#classes {
	text-align: center;
	color:black;
	font-family:Courier New; 
	background:rgb(249,249,249);
   	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

#classes a {
	background:rgb(249,249,249);
}

/* work */
#work {
	text-align: center;
	color:white;
	font-family:Courier New; 
	background:rgb(140, 166, 217);
   	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

#work a {
	background:rgb(140, 166, 217);
}

/* Image Flip */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.flip {
	background-color: transparent;
	display: block;
	padding-bottom: 30px;
	width: 400px;
	height: 400px;
	float:left;
	padding-left:10px;
	padding-right:10px;
}

.flip-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.5s;
	transform-style: preserve-3d;
	box-shadow: none;
}

.flip:hover .flip-inner {
	transform: rotateY(180deg);
}

.flip-front, .flip-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.flip-front {
	background-color: #bbb;
	color: black;
	z-index: 2;
}

.flip-back {
	background-color: white;
	opacity: .85;
	color: midnightblue;
	text-align: center;
	transform: rotateY(180deg);
	z-index: 1;
}

/* Footer */
.footer{
	background-color:rgb(249,249,249);
	font-size: 20px;
	font-family:Courier New;
	color: midnightblue;
}
