.header{
    height:100%
    background-color:rgb(140, 166, 217);
}

.header h1{
    color:White;
    font-family:Courier New; 
    text-align:center;
    position:relative;
    z-index:1;
}

.header h4{
    color:White;
    font-family:Courier New; 
    text-align:center;
    position:relative;
    z-index:1;
}

.links {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    color: White;
    z-index:1;
    font-size:50px
}

.links li {
    display: inline-block;
    font-size: 50px;
    padding: 25px 50px 75px 50px;
    color: White;
}

.rounded {
    position: absolute;
    top: 30%;
    left: 50%;
    background-image: url(/images/jm.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20%;
    width: 200px;
    height: 200px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.grow:hover,
.grow:focus,
.grow:active {
    transform: scale(1.5);
}
